
body {
    margin: 0 auto;
    height: 100vh;
}
.align {
    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;
}

#container {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 600px;
    border: solid black 1.5px;
}

.row {
    display: flex;
    flex-grow: 1;
    min-height: 0px;
}

.box {
    flex-grow: 1;
    border: 1px solid black;
}

.paint {
    background-color: blueviolet;
}