
body {
    margin: 0 auto;
    height: 100vh;
}
.align {
    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;
}

#container2 {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 600px;
    border: solid black 1.5px;
}

.row {
    display: flex;
    flex: auto;
    min-height: 0px;
}

.box {
    flex: auto;
    border: 1px solid black;
}

